*{
    margin: 0;
    padding: 0;
}
.intro {
    color: brown;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45 px;
    margin-top: 15px;
    margin-bottom: 15px ;
}

.aboutme{
    font-size: 65 px;
    color:black;
    margin-bottom: 20px;
}
